.container {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--dark-blue);
}

.profileBar {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 12px;
}

.picture {
  width: 80px;
  height: 80px;
  background-color: gray;
  border: solid 2px white;
  border-radius: 50%;
}

.info {
  color: var(--pale-blue);
  font-weight: 300;
}

.name {
  font-size: 1.5rem;
  font-weight: 400;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1.5rem;
}

.btn {
  background: none;
  border: none;
  font-family: inherit;
  color: var(--gray-blue);
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  color: white;
}

@media (min-width: 768px) {
  .container {
    max-width: 250px;
    align-self: stretch;
  }

  .name {
    font-size: 2rem;
  }

  .profileBar {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  .navBar {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    justify-items: left;
    gap: 1rem;
  }
}
