.container {
  width: 100%;
  background-color: var(--blue);
  border-radius: 14px;
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.icon {
  width: 70px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

.dataBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-blue);
  height: 75%;
  border-radius: 12px;
  padding: 1rem;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

.hour {
  font-size: 2rem;
  font-weight: 300;
}

.info {
  color: var(--pale-blue);
  font-weight: 300;
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.menuBtn:hover img {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .container {
    min-height: 250px;
  }
  .dataBox {
    gap: 1rem;
  }
  .bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .hour {
    font-size: 3rem;
  }
}
